body {
    background-color: #FFA500;
    font-family: 'Pro Sans', sans-serif, Arial, Helvetica;
    color: purple;
}

h1 {
    color: Yellow;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
}

.ol {
    color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
}

nav ul {
    border-style: solid;
    border-color: gray;
    border-width: 3px;
    border-radius: 10px;
    padding: 12px;
    width: auto;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    color: yellow;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

nav ul li a {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

img {
    border-radius: 10px;
}

img:hover {
    border: 2px dashed Navy;
}

iframe {
    border-radius: 10px;
}

.topBox {
    background-color: grey;
    color: #FFFF00;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    border-radius: 10px;
}

.someSpacing {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bidDivider, .midDivider, .centerDivider,
.bottomDivider, .endDivider {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #FFA500;
    padding-bottom: 10px;
}

.timer {
    font-family: 'Pro Sans', sans-serif;
    color: lightgoldenrodyellow;
}

#normal {
    color: black;
}

#myCoolText {
    color: #FFFF00;
    border: 2px ridge #CCFFFF;
    padding: 15px;
    text-align: justify;
}

#frontPage {
    background: #48D1CC;
    background: linear-gradient(#000000, #C2C5CC);
    animation: slide 10s infinite linear forwards;
}

#resources ul li {
    font-family: 'Pro Sans', sans-serif;
    color: #FFD723
}

#ovalEarth {
    width: 100;
    border-radius: 7%;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    align-self: center;
}

#usHotSpots {
    border-radius: 5%;
    width: 350px;
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes grow {
    from {
        width: 300px;
    }
    to {
        width: 350px;
    }
}

@keyframes rainbowGlow {
    0% {
        color: #FFD723;
    }
    50% {
        color: #663399;
    }
    100% {
        color: #FFD7323;
    }
}

@keyframes slide {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 600vw;
    }
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    #ovalEarth {
        width: 88%;
    }

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    #ovalEarth {
        width: 88%;
    }

    #usHotSpots {
        width: 68%;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    #ovalEarth {
        width: 88%;
    }

    #usHotSpots {
        width: 68%;
    }

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {


 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {


 }